<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SARA S.A.</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link
	href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
	rel="stylesheet">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/resume.min.css" rel="stylesheet">
<link href="css/Stylesheet.css" rel="stylesheet">


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">SARA S.A.</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#">¿Quiénes
							somos?</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Ingresar
							código</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="form-group row margin-top-60">
			<div ng-if="" class="col-lg-12">
				<img class="imagen-estado" src="img/estado1.jpg">
			</div>
			<div class="col-lg-12">
				<img class="imagen-estado" src="img/estado2.jpg">
			</div>
			<div ng-if="" class="col-lg-12">
				<img class="imagen-estado" src="img/estado3.jpg">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-12 padding-180">
				<h3 class="display-4 no-margin">
					Pedido <span class="color-verde">#0081810</span>
				</h3>
				<h2 class="display-4">
					Estado: <span class="color-verde">En depósito</span>
				</h2>
				<h2 class="display-4">
					Estado: <span class="color-verde">En camino</span>
				</h2>
				<h2 class="display-4">
					Estado: <span class="color-verde">Entregado</span>
				</h2>
			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/resume.min.js"></script>

</body>

</html>
