@charset "ISO-8859-1";

/* ----------- Ingreso de código ----------- */
.imagen-fondo {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	max-width: 200%;
	max-height: 100%;
}

.body-style {
	overflow-x: hidden;
	overflow-y: hidden;
}

.btn-consulta {
	background-color: #e28537;
	border-color: #e28537;
}

.imagen-estado {
	width: 50%;
}

.padding-top-15 {
	padding-top: 15px;
}

.volver {
	color: #007733;
}

.volver-texto {
	font-weight: 600;
}

.icono-volver {
	margin-top: 5px;
	margin-right: 5px;
}

.color-verde {
	color: #0f6f12;
}

.margin-top-60 {
	margin-top: 60px;
}

.no-margin {
	margin-bottom: 0px;
}

.padding-180 {
	padding-left: 180px;
	padding-right: 180px;
}

.info-format {
	font-size: 1.8rem;
	text-transform : initial;
}

.incidencia-format {
	font-size: 1.3rem;
	color: #FF0000;
	text-align: center;
}

.fin-format{
	font-size: 1rem;
	text-align: center;
}